name: Release

on:
  workflow_call:
    inputs:
      prerelease:
        type: boolean
        required: true

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Set env
        run: echo "VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Set package version
        run: |
          echo $(jq --arg v "${{ env.VERSION }}" '(.version) = $v' package.json) > package.json
          echo "export const VERSION='${{ env.VERSION }}'" > ./version.ts

      - name: Install Dependencies
        run: bun install

      - name: Build
        run: bun run build

      - name: Publish
        if: ${{ !inputs.prerelease }}
        working-directory: ./dist
        run: |
          npm pkg delete scripts.prepare
          npm publish --provenance --access public

      - name: Publish release candidate
        if: ${{ inputs.prerelease }}
        working-directory: ./dist
        run: |
          npm pkg delete scripts.prepare
          npm publish --provenance --access public --tag=canary
