name: Release

on:
  release:
    types:
      - published

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2

      - name: Set env
        run: echo "VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: 16
      - name: Cache pnpm modules
        uses: actions/cache@v2
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-

      - uses: pnpm/action-setup@v2
        with:
          version: 6
          run_install: true

      - name: Set version
        run: echo $(jq --arg v "$VERSION" '(.version) = $v' package.json) > package.json
      
      - name: Build
        run: pnpm build

      - name: Copy artifacts
        run: |
          cp .github/README.md ./dist/
          cp package.json ./dist/
          

      - name: Set npm token
        run: echo "//registry.npmjs.org/:_authToken=${{secrets.NPM_TOKEN}}" > .npmrc


      - name: Publish
        if: ${{ !github.event.release.prerelease }}
        working-directory: ./dist
        run: npm publish --access public
      
      - name: Publish Prerelease
        if: ${{ github.event.release.prerelease }}
        working-directory: ./dist
        run: npm publish --access public --next
      